{% extends "base.html" %}

{% block content %}
    <div class="no-bottom no-top" id="content">
        <section id="subheader">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12 text-center">
                            <h1>{{ '404' }}</h1>
                            <p>Page not found</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}