
{% extends "base.html" %}

{% block content %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12 text-center">
									<h1>Create Item</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-6 offset-md-3">
                            <p>Choose "Single" if you want to create a single item or "Multiple" if you want to create more than one item</p>
                            <a href="create_item" class="opt-create">
                                <img src="../static/images/misc/black-coll-single.png" alt="">
                                <h3>Single</h3>
                            </a>
                            <a href="create_multiple" class="opt-create">
                                <img src="../static/images/misc/black-coll-multiple.png" alt="">
                                <h3>Multiple</h3>
                            </a>
                        </div>                             
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>

        {% endblock %}