{% extends "base.html" %}

{% block content %}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="subheader">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Item Details</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section aria-label="section" class="mt90 sm-mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    {% if images %}
                        {% if images|length > 1 %}
                            <div class="nft__item style-2 text-center" style="height:600px;">
                                <div id="sequence" class="seq">
                                    <ul class="seq-canvas">
                                        {% for image in images %}
                                            <li class="step1 valign seq-in">
                                                <div class="vcenter">
                                                    <img data-seq class="feature" src="{{image.name}}" alt="" width="389" height="300" style="max-height:500px; width:auto" />
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="nft__item_info">
                                    <span></span>
                                    <fieldset class=" text-center" aria-label="Slider buttons" aria-controls="sequence">
                                        <button type="button" class="seq-prev" aria-label="Previous"><img src="../static/images/icons/left-arrow.png" alt="Previous" /></button>
                                        <ul role="navigation" aria-label="Pagination" class="seq-pagination">
                                            {% for image in images %}
                                                <li class="seq-current">
                                                    <a href="#step1" rel="step1" title="Go to bananas">
                                                        <img src="{{image.name}}" alt="" width="50" height="40" />
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <button type="button" class="seq-next" aria-label="Next"><img src="../static/images/icons/right-arrow.png" alt="Next" /></button>
                                    </fieldset>
                                </div>
                            </div>
                        {% else %}
                            {% for image in images %}
                                <div class="nft__item style-2">
                                    <div class="nft__item_wrap">
                                        <a href="#">
                                            <img src="{{image.name}}" id="" class="lazy nft__item_preview" alt="">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <div class="nft__item style-2">
                            <div class="nft__item_wrap">
                                <a href="#">
                                    <img src="{{url_for('static', filename='images/no-img.jpg')}}" id="" class="lazy nft__item_preview" alt="">
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="item_info">
                        <h2>{{ item.name }}</h2>
                        <div class="item_info_counts">
                            <div class="item_info_type"><i class="fa fa-image"></i>{{ item.category }}</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div>
                                <h6>Collection</h6>
                                <div class="item_author">                                    
                                    <div class="author_list_pp">
                                        <a href="/collection_details/{{ item.collection_id }}">
                                            <img class="lazy" src="{{ current_user.avatar(128) }}" alt="">
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    </div>                                    
                                    <div class="author_list_info">
                                        <a href="/collection_details/{{ item.collection_id }}">{{ item.collection_name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-40"></div>
                        <div class="de_tab tab_simple">
                            <ul class="de_nav">
                                <li class="active"><span>Details</span></li>
                                <li><span><a href="/edit_item/{{item.id}}">Edit Item</a></span></li>
                            </ul>
                            <div class="de_tab_content">
                                <div class="tab-1">
                                    <div class="row gx-2">
                                        <div class="item_attr">
                                            <h4>Description</h4>
                                            <span>{{ item.description }}</span>
                                        </div>
                                        <div class="spacer-40"></div>
                                        <div id="custom-fields"></div>
                                    </div>
                                    <div class="spacer-30"></div>
                                </div>
                            </div>
                            <div class="spacer-10"></div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
{% endblock %}